*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 2px solid;
}

.navbar-brand img {
    height: 30px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

