<div class="d-flex flex-column container" id="main">
  <section id="about" class="about section-bg">
    <div class="section-title">
      <h2>About me</h2>
    </div>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen>
      </iframe>
    </div>
  </section>


  <section id="bio">
    <div class="section-title">
      <h2>BIO</h2>
    </div>
      <p>My first computer was a gift when I was 8 years old and although I did not fully understand how
          it worked, I began to love the world of programming</p>
      <p>Later, in high school, there was an optional subject in Pascal programming and then I decided
          that I wanted to become a developer so I studied from 1994 to 2000 Computer Engineering at
          Universitat Autonoma de Barcelona.</p>
      <p>My first job was migrating to the 2000 effect an internal application for a construction company
          that was made in Delphi and since then I made several changes until I arrived to a contact
          center company and I discovered that the customer experience was something that I was pasionated
          to.</p>
      <p>Since then, my job always was related to the contact section of the companies until I arrived at
          <a href="https://www.enghouseinteractive.es/" target="_blank">Enghouse Interactive</a> a contact
          center software company in 2008.</p>
      <p>My first position in the company, was working in the operations team, leading international
          projects located in EMEA and USA and after some time I moved to the development team where I
          have been working with the chat module.</p>
      <p>Now I have decided to expand my knowledge by coursing an MIT xPro course based on the
          MERN Stack. You will find some of the projects of the course in my <a class="goTo"
              data-partialview="portfolio.html" href="#">portfolio</a></p>
    </div>
  </section>

  <!--section id="resume" class="resume section-bg">
    <div class="section-title">
      <h2>Resume</h2>
    </div>
    <div class="text-center my-3">
      <a class="btn btn-primary border-dark" href="assets/cv/acabanillas_cv.pdf" download><i
          class="bi bi-box-arrow-down"></i>&nbsp;CV</a>
    </div>
  </section-->
</div>