<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2 class="mb-30">GET IN TOUCH</h2>
      <div class="row">

        <div class="col-lg-4">
          <div class="info" style="text-align:text-left">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Barcelona, 08030, Spain</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>acabanillas@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-skype"></i>
              <h4>Skype:</h4>
              <p>alcabanillas</p>
            </div>

          </div>
          <!--div class="contact-contact">
            <ul class="contact-details">
              <li><span>Barcelona, Spain</span></li>
              <li><iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.5723153145645!2d2.1405993156300216!3d41.38337587926446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49995ff8178d7%3A0x67a82f287448e5ee!2sEnghouse%20Interactive!5e0!3m2!1ses!2ses!4v1660992804686!5m2!1ses!2ses"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe></li>
              <li><a href="mailto:acabanillas@gmail.com">acabanillas@gmail.com</a></li>
            </ul>

          </div-->
        </div>

        <div class="col-lg-8">
          <form action="https://formspree.io/f/maykybvo" method="post" role="form">
            <div class="row gy-3">

              <div class="col-lg-6">
                <div class="form-group contact-block1">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Message" required=""></textarea>
                </div>
              </div>

              <div class="mt-0">
                <input type="submit" class="btn btn-primary border-dark btn-send" value="Send message">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>