<div class="position-relative overflow-hidden">
    <section id="home" class="home section-bg">
        <div class="section-title">
            <h2>Hello</h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin:auto;">
                <h2 class="display-4 fw-normal">I'm <span style="color:#F05742">Alvaro</span> Cabanillas</h2>
                <h1></h1>
                <h5 style="margin-top: 40px;">This is Alvaro Cabanillas, a Full Stack Developer located in Barcelona, Spain</h5>

                    <div class="text-center my-4">
                        <a class="btn btn-primary fw-bold border-dark goTo" href="#/about">More
                            about me...</a>
                    </div>
            </div>
            
            <div class="col-md-4 text-center" style="margin:auto;">
                <img src="assets/images/biopic.jpg" style="width:100%;border-radius:50%;max-width:300px;;"></img>
            </div>
        </div>
</div>
</div>