<section id="portfolio" class="portfolio section-bg">
  <div id="portfolio" class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card bg-dark mb-4 h-100 rounded-0 shadow-sm">
          <h5 class="card-header">Pacmen factory</h5>
          <img class="card-img-top rounded-0" src="assets/images/pacmen.png" alt="Card image" />
          <div class="card-body">
            <p class="card-text">
              Javascript project applying Js basics and DOM manipulation. We are
              creating as many pacman as requested and move all of them
              independently checking window boundaries and changing the
              direction if needed.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://alcabanillas.github.io/pacmen/" target="_blank"
                  class="btn btn-primary border-dark">Demo</a>
                <a href="https://github.com/alcabanillas/pacmen" target="_blank"
                  class="btn btn-primary border-dark">Repository</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark mb-4 h-100 rounded-0 shadow-sm">
          <h5 class="card-header">Eyes movement</h5>
          <img class="card-img-top rounded-0" src="assets/images/eyes.png" alt="Card image" />
          <div class="card-body">
            <p class="card-text">
              CSS + Javascript project with two eyes that are following the
              mouse movement. This project shows us how to add apply CSS changes
              in realtime and also uses mouse events in javascript to do
              changes.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://alcabanillas.github.io/eyes/" target="_blank"
                  class="btn btn-primary border-dark">Demo</a>
                <a href="https://github.com/alcabanillas/eyes" target="_blank"
                  class="btn btn-primary border-dark">Repository</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark mb-4 h-100 rounded-0 shadow-sm">
          <h5 class="card-header">RealTime-Bus-Tracker</h5>
          <img class="card-img-top rounded-0" src="assets/images/rbtracker.png" alt="Card image" />
          <div class="card-body text-left">
            <p class="card-text">
              Javascript project that shows bus information in realtime. The map
              is obtained using leaflet and the real time data is fetched from
              MBTA. The info is being obtained and added to the map when the
              user clicks on the button and updated each 15 seconds.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://alcabanillas.github.io/RealTime-Bus-Tracker" target="_blank"
                  class="btn btn-primary border-dark">Demo</a>
                <a href="https://github.com/alcabanillas/RealTime-Bus-Tracker" target="_blank"
                  class="btn btn-primary border-dark">Repository</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>